azure-storage-blob
azure.identity
langchain_community
langchain
python-dotenv
langchain_openai
azure.search
azure.search.documents
pypdf
azure-identity
langchain-core
langchain-community
langchain-openai
Flask
gunicorn
Werkzeug
langchain_core
helpers
Flask-Login
helper-auth
jose
requests
msal
urllib3
python-jose
azure-search-documents